body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

header {
    background-size: cover;
    background: url("../images/hero-background-image.jpg") top;
    height: 100vh;
}

.no-margin {
    margin: 0;
}

.hero-buttons {
    width: 100%;
    margin-top: 20px;
}

.hero-buttons a {
    float: right;
    text-decoration: none;
}

.log-in {
    background-color: #3490d3;
    padding: 10px 30px;
    color: #fff;
    margin-left: 20px;
}

.sign-up {
    background-color: #fcb546;
    padding: 10px 30px;
    color: #fff;
}

.hero-search {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    background-color: #1c5484;
    padding: 10px 10px;
    border-radius: 8px;
}

select {
    position: relative;
    text-align: center;
    border: none;
    background: #fff;
    height: 40px;
    width: 100px;
    color: grey;
    font-weight: 500;
}

.hero-search-input {
    position: relative;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}

.search-button {
    position: relative;
    background-color: #fcb546;
    padding: 12px 30px;
    color: #fff;
}

.hero-heading {
    position: relative;
    top: 125px;
    color: #fff;
    margin: 0 auto;
}

.orange-text {
    color: #fcb546;
}

.custom-heading {
    text-align: center;
    margin: 25px auto 0;
    width: 100%;
}

.custom-button-orange {
    background-color: #fcb546;
    padding: 10px 10px;
    border-radius: 8px;
    color: #fff;
}

.vehicles {
    margin: 40px auto 0;
}

.explore-more {
    margin: 0 auto;
}

.footer-top-row {
    background-color: #fcb546;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 45px;
}

.footer-top-text {
    display: inline-block;
    float: left;
    color: #fff;
}

.footer-button {
    display: inline-block;
    float: right;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 10px 25px;
    border-radius: 10px;
}


footer {
    background-color: #616878;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

.footer-nav {
    padding: 0;
    list-style: none;
}

.footer-nav li a {
    text-decoration: none;
    color: #fff;
}
footer ion-icon {
    font-size: 30px !important;
}